@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Our Hospital</h1>
    <p>Thank You For Choosing Our Hospital for Your Healthcare Needs. </p><br />
    <p>Here, We strive to Provide The Highest Quality Medical Carw To Our Patients.</p><br />
    <p>Learn More About Services and Specialities</p>
    <ul class="list-group">
        <li class="list-group-item">Internal Medicine</li>
        <li class="list-group-item">Pediatrics</li>
        <li class="list-group-item">Sugery</li>
    </ul>
    <p>If You Need Any Questions Or Need Assistance, Please Don't Hesitate to Contact Us' </p>
</div>
